/* General Styles */
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}
ul li { list-style-type: none; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}


.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgb(46 47 66 / .08),
              0px 1px 1px rgb(46 47 66 / .16),
              0px 1px 6px rgb(46 47 66 / .08);
}
.header-box {
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.header-nav {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: .03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.headerspan {
  color: #2e2f42;
}
.navmenu { display: flex; }
.navmenu li:not(:last-child) {
  margin-right: 40px;
}
.navmenu li:first-child>a { color: #404bbf; }
.navmenu li:first-child>a::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}
.navlink {
  padding: 24px 0;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .02em;
  color: #2e2f42;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navlink:hover,
.navlink:focus {
  color: #404bbf;
}
.contact-us {
  font-style: normal;
}
.contacts { display: flex; }
.contacts li:not(:last-child) {
  margin-right: 40px;
}
.contactlink {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .02em;
  font-style: normal;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contactlink:hover,
.contactlink:focus {
  color: #404bbf;
}



.hero-section {
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
   rgba(46, 47, 66, 0.7)),
    url(../images/people-office-hero.jpg);
  background-repeat: no-repeat ;
  background-position: center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: 0 auto ;
  
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Стилі для заголовка */
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  display: block;
  margin: 0 auto 48px;

}

/* Стилі для кнопки */
.btn-order {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  min-width: 169px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.btn-order:hover,
.btn-order:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #404bbf;
}

/* Друга секція */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.strategy-section {
  padding-top: 120px;
  padding-bottom: 120px;
}


/* Список стратегії */
.strategy-list {
  display: flex;
  gap: 24px;
}
.vis {
  width: calc((100% - 72px) / 4);
}

/* Стилі заголовків у списку */
.strategy-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

/* Стилі параграфів у списку */
.strategy-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.strategy-section-icon {
  display: flex;
  align-items: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  padding: 24px 100px;
  margin-bottom: 8px;
}

/* Третя секція */
/* Container Styles */
.team {
  background: #f4f4fd;
  padding-bottom: 120px;
  padding-top: 120px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-top: 120px;
  margin-bottom: 72px;
}

.team-item {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card-content {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  line-height: 1.5;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}



.team-icon-container {
  margin-top: 8px;
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 3 * 24px) / 4);
  justify-content: center;
  align-items: center;
}

.team-icon-box {
  width: 40px;
  height: 40px;
}

.team-icon-link:hover, 
.team-icon-link:focus {
  background-color: #404bbf;
}

.team-icon-svg {
  margin: 8px;
}

.team-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




/* Четверта секція */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  gap: 24px;
  width: calc((100% - 48px) / 3);
}

.portfolio-item-picture {
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transform: translateY(0);
  }

.portfolio-item:hover .overlay {
  transform: translateY(0);
}

.overlay {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-card-content {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-top: 120px;
  margin-bottom: 72px;
}

.portfolio-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Футер */
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.footer-box {
  display: flex;
  align-items: baseline;
}
.footer-logo-p { margin-right: 120px; }
.footer-logo {
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: .03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
}
.footerspan {
  color: #f4f4fd;
}
.footer-note {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .02em;
  color: #f4f4fd;
}
.social-networks-p {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer-social-media {
  display: flex;
  gap: 16px;
}
.footer-social-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-media-link:hover,
.footer-social-media-link:focus {
  background-color: #31d0aa;
}

